@import "../_variables";

.q-box {
  background-color: $white-two;
  border: 1px solid $border-gray;
  border-radius: $border-radius;
  padding: 1rem;
  position: relative;

  &.q-spaced {
    margin: $box-margin;
  }

  &.q-left-aligned {
    text-align: left;
  }

  &.q-right-aligned {
    text-align: right;
  }

  &.q-center-aligned {
    text-align: center;
  }

  &.q-justify-aligned {
    text-align: justify;
  }
}
