@import '../_globals';
@import '../mixins/_color-scheme';
@import '../mixins/_fluid.scss';

.q-button {
  cursor: pointer;
  display: inline-block;
  position: relative;
  padding-right: 20px;
  padding-left: 20px;
  font-weight: 400;
  height: $button-height;
  font-family: $font-family;
  font-size: $button-font-size;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  border-radius: $border-radius;
  transition: all 200ms;

  &.q-primary {
    @include primary;
    &:active{
      opacity: 0.8;
    }
  }
  &.q-secondary {
    @include secondary;
    &:active{
      background-color: $primary;
      color: $white-two;
    }
  }
  &.q-gray {
    @include gray;
    &:active{
      color: $primary;
      border: 1px solid $primary;
    }
  }
  &.q-disabled {
    @include disabled;
  }
  &.q-fluid{
    @include fluid;
  }
  &.q-round {
    border-radius: $button-round;
  }
  &.q-circular{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 0;
  }

  &:focus{
    outline: none !important;
  }

  //Icon
  .q-i{
    padding-left: 0;
  }
  .q-i:only-child{
    padding-right: 0;
  }

  //Loader
  &.loading{
    .q-loader{
      background-color: transparent;
    }
    //Hide button contents
    .q-loader + span {
      opacity: 0;
    }

    &.q-primary:active {
      opacity: 1;
    }
    &.q-secondary:active {
      @include secondary;
    }
    &.q-gray:active {
      @include gray;
    }
  }

}

