@import '../_variables';
@import '../_globals';
@import '../mixins/_color-scheme';
@import '../mixins/_fluid.scss';

.checkbox-wrapper{
  user-select: none;
  font-family: icomoon !important;

  input[type=checkbox] + label {
    display: inline-flex;
    align-items: center;
    margin: $checkbox-margin;
    cursor: pointer;
    padding: $checkbox-padding;
  }

  input[type=checkbox] {
    display: none;
  }

  input[type=checkbox] + label:before {
    font-family: icomoon !important;
    content: "\e933";
    border: $checkbox-border-width solid $checkbox-border-passive;
    border-radius: $border-radius;
    display: inline-block;
    color: transparent;
    line-height: 1rem;
    transition: .2s ;
    margin-right: 5px;
  }

  input[type=checkbox] + label:active:before {
    transform: scale(0);
  }

  input[type=checkbox]:checked + label:before {
    background-color: $primary;
    border-color: $primary;
    color: $white-two;
  }

  input[type=checkbox]:disabled + label{
    color: $light-gray;
  }

  input[type=checkbox]:checked:disabled + label{
    color: $light-gray;
  }

  input[type=checkbox]:disabled + label:before {
    transform: scale(1);
    border-color: $light-gray;
  }

  input[type=checkbox]:checked:disabled + label:before {
    transform: scale(1);
    background-color: $light-gray;
    border-color: $light-gray;
  }

  &.error {
    input[type=checkbox] + label:before {
      border-color: $red;
    }
    input[type=checkbox]:checked + label:before {
      background-color: $white-two;
      border-color: $red;
      color: $red;
    }
    input[type=checkbox] + label {
      color: $red;
    }
  }

}
