@import '../_variables';
@import '../_globals';
@import '../mixins/_color-scheme';
@import '../mixins/_fluid.scss';

.checkbox-wrapper{
  display: inline-flex;
  align-items: center;

  input[type=checkbox] {
    @include primary;
    font-family: icomoon !important;
    -webkit-appearance: none;
    background: $white-two;
    border: 0;
    padding: 0 5px 0 0;
    overflow: visible;
    &.primary{
      @include primary;
    }
    &.secondary{
      @include secondary;
    }
  }
  input[type=checkbox]:focus{
    outline: none !important;
  }
  input[type=checkbox]:after {
    border-radius: $border-radius;
    color: $checkbox-border-passive;
    content: "\E96B";
  }
  input[type=checkbox]:checked:after {
    content: "\E97E";
    color: $primary;
    transition: color 300ms;
  }

  label{
    font-weight: 500;
    font-size: $font-size-base;
    margin: 0;
  }

  &.error{
    color: $red;
    input[type=checkbox]:after {
      color: $red;
      content: "\E96B";
    }
    input[type=checkbox]:checked:after {
      content: "\E97E";
      color: $red;
      transition: color 300ms;
    }
  }
}
