@import '../_globals';
@import '../mixins/_color-scheme';
@import '../mixins/_fluid.scss';

.q-i {
  padding: $padding-y $padding-x;
  display: inline-block;
  border-radius: $border-radius;
  line-height: $line-height;

  &.q-primary {
    color: $primary;
  }

  &.q-gray {
    color: $light-gray;
  }

  &.q-disabled {
    @include disabled;
  }

  // Icon Sizes
  &.q-large {
    font-size: $font-size-large;
  }

  &.q-small {
    font-size: $font-size-small;
  }

}
