@import '../_globals';
@import '../mixins/_color-scheme';
@import '../mixins/_fluid.scss';

.q-i {
  display: inline-block;
  line-height: $line-height;

  &.q-primary {
    color: $primary;
  }

  &.q-gray {
    color: $light-gray;
  }

  &.q-disabled {
    @include disabled;
  }

  &.q-circular {
    background-color: $white-two;
    border-radius: 50%;
    padding: .5em;
  }

  // Icon Sizes
  &.q-xlarge {
    font-size: $font-size-xlarge;
  }

  &.q-large {
    font-size: $font-size-large;
  }

  &.q-small {
    font-size: $font-size-small;
  }

}
