@import '../_globals';
@import '../mixins/_color-scheme';
@import '../mixins/_fluid.scss';

.q-icon {
  display: inline-block;
  line-height: $line-height;

  &.q-disabled {
    @include disabled;
  }

  &.q-circular {
    background-color: $white-two;
    border-radius: 50%;
    padding: 1.25rem;
    border: 1px solid $very-light-pink;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.06);
  }

  // Icon Sizes
  &.q-xlarge {
    font-size: $font-size-xlarge;
  }

  &.q-large {
    font-size: $font-size-large;
  }

  &.q-small {
    font-size: $font-size-small;
  }

  //Color variants
  @each $color, $value in $colors {
    &.#{$color} {
      &:before{
        color: $value;
      }
    }
  }
}
