@import '../variables';
@import '../globals';
@import '../mixins/color-scheme';
@import '../mixins/_input.scss';
@import '../mixins/_fluid.scss';

.input-wrapper{
  display: block;
  text-align: left;
  label{
    display: inline-block;
    font-weight: 500;
    font-size: 13px;
    padding: 5px 0;
  }
  span{
    display: inherit;
    color: #ababab;
    margin: -5px 0 5px 0;
  }
  input {
    @include input-size($input-padding-y, $input-padding-x, $input-font-size, $line-height, $border-radius);
    background-color: $input-background-color;
    border: 1px solid $border-grey;
    &.primary {
      @include primary;
    }
    &.secondary {
      @include secondary;
    }
    &.disabled {
      @include disabled;
    }
    &.fluid{
      @include fluid;
    }
    &.error{
      border-color: red;
      color:red;
      cursor: not-allowed;
    }
    &.error::placeholder{
      color:red;
    }
    &:focus{
      outline: 0;
      cursor: pointer;
    }


    // Input Sizes
    &.large {
      @include input-size($input-padding-y-large, $input-padding-x-large, $input-font-size-large, $line-height-large, $border-radius);
    }

    &.small {
      @include input-size($input-padding-y-small, $input-padding-x-small, $input-font-size-small, $line-height-small, $border-radius);
    }
  }
}
