@import '../_variables';
@import '../_globals';
@import '../mixins/_color-scheme';
@import '../mixins/_fluid.scss';
@import '../mixins/_size.scss';

.input-wrapper{
  display: block;
  text-align: left;
  padding: .25rem;
  label{
    display: inline-block;
    font-weight: 500;
    font-size: 13px;
    padding: 0;
  }
  span{
    display: inherit;
    color: #ababab;
    margin: -5px 0 5px 0;
  }
  input {
    height: calc(1.5em + .75rem + 2px);
    padding: $padding-y-small $padding-x-small;
    font-size: 1rem;
    line-height: $line-height;
    border-radius: .25rem;
    background-color: $input-background-color;
    border: 1px solid $border-grey;
    &.primary {
      @include primary;
    }
    &.secondary {
      @include secondary;
    }
    &.disabled {
      @include disabled;
    }
    &.fluid{
      @include fluid;
    }
    &.error{
      border-color: red;
      color:red;
      cursor: not-allowed;
    }
    &.error::placeholder{
      color:red;
    }
    &:focus{
      outline: 0;
      cursor: pointer;
    }

    // Input Sizes
    &.large {
      height: calc(1.5em + 1rem + 2px);
      padding: .5rem 1rem;
      font-size: 1.25rem;
      border-radius: .3rem;
    }

    &.small {
      height: calc(1.5em + .5rem + 2px);
      padding: .25rem .5rem;
      font-size: .875rem;
      border-radius: .2rem;
    }
  }

}
