@import "../variables";

.q-item {
  position: relative;
  padding-left: $padding-x;
  margin-bottom: .5rem;
  line-height: $item-line-height;
  color: $dark-gray;
}

.q-item-dotted::before {
  content: "";
  position: absolute;
  left: 0;
  top: 6px;
  display: inline-block;
  background-color: #f27a1a;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  vertical-align: middle;
}
