@import '../_globals';

.q-layout {
  background-color: $border-gray;
  height: 100%;
  display: block;
  padding: 10px;
  margin: 0;
  border: 0;
  font-family: $font-family;
  outline: none;
  user-select: none;

  &.q-fluid{
    padding: 0;
  }
}

