@import '../globals';
@import "../animations/_modal.scss";

.q-modal-main {
  position: fixed;
  background-color: $white;
  top: 0;
  left: 0;
  display: block;
  text-align: center;
  height: 100vh;
  width: 100vw;
  z-index: $modal-z-index;
  overflow-y: scroll;

  .q-modal-header {
    padding: 1rem 1rem 0 1rem;
    border-bottom: 1px solid $very-light-pink;
    width: 100%;
    height: $modal-header-height;
    display: flex;
    position: fixed;
    background-color: $white-two;
    z-index: $modal-z-index;

    .q-modal-title {
      font-size: $font-size-base;
      font-weight: $bold;
      width: 90%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      margin-bottom: 0;
      text-align: center;
      margin-right: auto;
      margin-left: auto;
      padding-left: $modal-icon-size;
      height: 100%;
      line-height: $font-size-base;
    }

    .q-icon {
      padding: 0;
    }

    &.q-has-left-icon {
      .q-modal-title {
        padding-left: 0;
      }
    }
  }

  .q-modal-content {
    background-color: $white-two;
    overflow-y: scroll;

    -ms-overflow-style: none;
    padding: $modal-content-padding;
    margin: 75px 15px 15px;
    border: 1px solid $very-light-pink;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }

  .q-modal-actions {
    margin: 15px;
  }

}

//Animations
@include modal-animation;
