@import '../variables';
@import '../globals';

.modal-main{
  position:fixed;
  background-color: #e9e9e9;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  display: block;
  text-align: center;
  padding: $modal-padding;
  height: 100vh;
  width: 100vw;
  z-index: $modal-z-index;

  .modal-content {
    background-color: $white-two;
    margin-bottom: 2rem;
    overflow-y: scroll;
    max-height: 50vh;
    -ms-overflow-style: none;
    padding-top: 2rem;
    padding-bottom: 2rem;
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }

  .modal-title{
    padding: 1rem;
    margin-bottom: 2rem;
    background-color: $white-two;
  }

  .icon-bar{
    display: flex;
    right: 2rem;
    height: 50px;
    position: fixed;
    top: 2.2rem;

    &.modal-icon-left {
      left: 2rem;
    }
    .icon-close {
      cursor: pointer;
    }
  }


  &.slideInLeft{
    animation-iteration-count: 1;
    animation-duration: .3s;
    animation-name: slideInLeft;
  }

  &.slideInRight{
    animation-iteration-count: 1;
    animation-duration: .3s;
    animation-name: slideInRight;
  }

  @keyframes slideInRight {
    from {
      transform: translate(100%, -50%);
    }

    to {
      transform: translate(-50%,-50%);
    }
  }

  @keyframes slideOutRight {
    from {
      transform: translate(0, 0);
    }

    to {
      transform: translate(-100%,0);
    }
  }

  @keyframes slideInLeft {
    from {
      transform: translate(-100%, -50%);
    }

    to {
      transform: translate(-50%,-50%);
    }
  }
}
