@import '../globals';
@import "../animations/_popup.scss";

.q-popup-main {
  position: absolute;
  background-color: $white-two;
  display: block;
  text-align: center;
  padding: $popup-padding;
  width: 100%;
  max-width: 90vw;
  max-height: 90vh;
  border-radius: $border-radius;
  z-index: 1022;


  .q-popup-content {
    overflow-y: scroll;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
    max-height: 50vh;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }

  .q-popup-icon-position {
    display: flex;
    justify-content: flex-end;
    width: 16px;
    margin-left: auto;
  }

  .q-popup-icon-left {
    justify-content: flex-start;
  }
}

//Animations
@include popup-animation;

.q-popup-overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1021;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
}

body.q-disable-scroll {
  position: fixed;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

html.q-disable-scroll {
  overflow: hidden;
  height: 100%;
  width: 100%;
}
