@import '../_variables';
@import '../_globals';
@import '../mixins/_color-scheme';
@import '../mixins/_size.scss';

.radio-wrapper{
  display: inline-flex;
  align-items: center;
  label{
    display: inline-block;
    font-weight: 500;
    padding: 5px 0;
    font-size: 13px;
    margin: 0;
  }
  span{
    display: inherit;
    color: #ababab;
    margin: -5px 0 5px 0;
  }

  input[type=radio]{
    font-family: icomoon !important;
    -webkit-appearance: none;
    background: $white-two;
    border: 0;
    padding: 0 5px 0 0;
    overflow: visible;

    &.large {
      @include size($padding-y-large, $padding-x-large, $font-size-large, $line-height-large, $border-radius);
    }

    &.small {
      @include size($padding-y-small, $padding-x-small, $font-size-small, $line-height-small, $border-radius);
    }
  }

  input[type=radio]:checked:after{
    content: "\E93D";
  }
  input[type=radio]:after{
    color: $primary;
    content: "\E93C";
  }
}
