@import '../_globals';
@import '../mixins/_color-scheme';
@import '../mixins/_fluid.scss';

.q-select-wrapper {
  display: inline-flex;

  &.q-fluid {
    @include fluid;
  }

  &.q-disabled {
    opacity: 0.5;
    user-select: none;
    -moz-user-select: none;

    select {
      pointer-events: none;
    }
  }

  &.q-error {
    animation-name: select-error;
    animation-duration: .2s;
    animation-direction: alternate;
    animation-iteration-count: 2;

    .q-select-group {
      border-color: $red;
    }
  }

  @keyframes select-error {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
  }

  .q-select-group {
    display: flex;
    align-items: center;
    padding: $space-small;
    height: $select-height;
    width: inherit;
    text-align: center;
    align-content: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: $border-radius;
    background-color: $white-two;
    border: 1px solid $border-gray-two;
    color: $dark-gray;
    position: relative;

    .q-select {
      width: inherit;
      color: currentColor;
      padding: $select-padding;
      font-size: $font-size-paragraph;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border: 0;
      line-height: $select-line-height;
      background: 0;
    }

    .q-select:focus {
      outline: none !important;
    }

    .q-select-icon-left {
      font-size: $font-size-small-paragraph;
      pointer-events: none;
    }

    .q-select-icon-right {
      font-size: $font-size-small-paragraph;
      pointer-events: none;
    }

  }

  &:not(.q-disabled) {
    .q-select-group:active {
      border: 1px solid $light-gray;
    }
  }

}
