@import '../_globals';
@import '../mixins/_color-scheme';
@import '../mixins/_fluid.scss';

.q-select-wrapper {
  display: flex;

  &.q-fluid{
    @include fluid;
  }

  .q-select-group {
    height: $select-height;
    width: inherit;
    text-align: center;
    align-content: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: $border-radius;
    background-color: $white-two;
    border: 1px solid $border-gray-two;
    color: $dark-gray;
    position: relative;

    .q-select {
      width: inherit;
      color: currentColor;
      padding: $select-padding;
      font-size: $font-size-paragraph;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border: 0;
      line-height: $select-line-height;
      background: 0;
    }

    .q-select:focus {
      outline: none !important;
    }

    .q-select-icon-left{
      color: $primary;
      position: absolute;
      top: 8px;
      left: -8px;
      font-size: $font-size-small-paragraph;
      pointer-events: none
    }

    .q-select-icon-right{
      color: $primary;
      position: absolute;
      top: 8px;
      right: -8px;
      font-size: $font-size-small-paragraph;
      pointer-events: none
    }

  }

  .q-select-group:active{
    border: 1px solid $light-gray;
  }

}
