@import '../globals';
@import "../animations/_modal.scss";
@import "../mixins/text-truncate";


.q-subheader {
  display: flex;
  height: 52px;
  border: 0;
  border-bottom: 1px solid $border-gray;
  align-content: center;
  position: relative;

  .q-icon {
    display: flex;
    font-size: 20px;
    align-items: center;
  }
  .left-icon {
    @extend .q-icon;
    height: 100%;
    padding: 10px;
    display: flex;
    top: 0;
    align-items: center;
    position: absolute;
    left: 10px;
    justify-content: space-between;
  }

  .title {
    margin-left: 5px;
    margin-right: 5px;

    .q-typography{
      line-height: 52px;
    }
  }

  .title-group{
    align-items: center;
    flex-direction: column;
  }

  .title, .title-group{
    flex: 12;
    text-align: center;
    display: flex;
    justify-content: center;
    .q-typography{
      width: 75vw;
      text-align: center;
      @include text-truncate;
    }
  }

  .right-icon {
    @extend .q-icon;
    height: 100%;
    padding: 10px;
    display: flex;
    top: 0;
    align-items: center;
    position: absolute;

    right: 10px;
    justify-content: space-between;
  }

}

