@import '../globals';
@import "../animations/_modal.scss";


.q-subheader {

  .q-box {

    display: flex;

    .q-icon {
      display: flex;
      align-items: center;
    }

    .left-icon {
      @extend .q-icon;
      flex: 1;
    }

    .title {
      text-align: center;
      flex: 12;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    .right-icon {
      @extend .q-icon;
      flex: 1;
    }
  }
}

