@import '../globals';
@import "../animations/_modal.scss";
@import "../mixins/text-truncate";


.q-subheader {
  display: flex;
  height: 52px;
  border: 0;
  border-bottom: 1px solid $border-gray;
  align-content: center;

  .q-icon {
    display: flex;
    font-size: 20px;
    align-items: center;
  }
  .left-icon {
    @extend .q-icon;
    flex: 1;
    justify-content: flex-end;
  }
  .title {
    margin-left: 5px;
    margin-right: 5px;
    flex: 12;
    text-align: center;
    display: flex;
    justify-content: center;
    .q-typography{
      color: black;
      line-height: 52px;
      width: 75vw;
      text-align: center;
      @include text-truncate;
    }
  }
  .right-icon {
    @extend .q-icon;
    flex: 1;
  }

}

