@import '../_globals';
@import '../mixins/_color-scheme';

.q-typography {
  margin: 0;
  font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
  font-style: normal;
  font-stretch: normal;

  &.q-bold {
    font-weight: 600;
  }

  &.q-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &.q-underline {
    text-decoration: underline;
  }

  &.q-h1 {
    font-size: 32px;
    line-height: 40px;
  }

  &.q-h2 {
    font-size: 24px;
    line-height: 30px;
  }

  &.q-h3 {
    font-size: 18px;
    line-height: 24px;
  }

  &.q-paragraph {
    font-size: 14px;
    line-height: 18px;
  }

  &.q-smallParagraph {
    font-size: 12px;
    line-height: 16px;
  }

  &.q-body {
    font-size: 16px;
    line-height: 20px;
  }
}
