.q-ripple {
  position: relative;
  overflow: hidden;

  span.ripple {
    position: absolute;
    border-radius: 100%;
    background-color: rgba(black, 0.25);
    animation: ripple .5s;
    opacity: 1;
  }

  @keyframes ripple {
    from {
      opacity: 1;
      transform: scale(0);
    }
    to {
      opacity: 0;
      transform: scale(2);
    }
  }
}
