@import url("https://i.icomoon.io/public/8a084d4b90/TyIcons/style.css");
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
@import './_reboot';
@import './_variables';

* {
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

.q-ripple {
  position: relative;
  overflow: hidden;

  span.ripple {
    position: absolute;
    border-radius: 100%;
    background-color: rgba(black, 0.15);
    animation: ripple .5s;
    opacity: 1;
  }

  @keyframes ripple {
    from {
      opacity: 1;
      transform: scale(0);
    }
    to {
      opacity: 0;
      transform: scale(1.5);
    }
  }
}
