@import "_colors";
// Colors
$dark-gray-two: #d2d2d2;
$white: #f8f8f8;
$white-two: #ffffff;
$marigold: #ffc000;
$very-light-pink: #e9e9e9;
$background-gray: #fafafa;
$background-gray-two: #f8f8f8;
$border-gray-two: #ebebeb;
$border-error: #fff1f1;
$checkbox-border-passive: #d6d6d6;


//Fonts
$font-family: "Source Sans Pro", sans-serif;

$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`
$font-size-xlarge: $font-size-base * 3 !default;
$font-size-large: $font-size-base * 1.5 !default;
$font-size-small: $font-size-base * .750 !default;

$font-size-header-1: 32px;
$line-height-header-1: 40px;

$font-size-header-2: 24px;
$line-height-header-2: 30px;

$font-size-header-3: 18px;
$line-height-header-3: 24px;

$font-size-paragraph: 14px;
$line-height-paragraph: 18px;

$font-size-small-paragraph: 12px;
$line-height-small-paragraph: 16px;


$bold: 600;
$regular: 400;

//Spacing
$space-small: 5px;
$space-medium: 10px;
$space-large: 15px;
$space-xlarge: 20px;

//Padding
$padding-y: .375rem !default;
$padding-x: .75rem !default;

//Line Height
$line-height: 1 !default;
$line-height-small: 1.5 !default;
$line-height-large: 1.5 !default;

//Button
$button-font-size: 100%;
$button-height: 40px;
$button-round: 22px;
$button-circular: 30px;

//Input
$input-font-size: 100%;
$input-height: 40px;

//Select
$select-height: 40px;
$select-line-height: 18px;
$select-padding: 10px 35px 10px 35px;

//Checkbox
$checkbox-border-width: 1.5px;
$checkbox-margin: 0.2rem;
$checkbox-padding: 0.2rem;

//Radio
$radio-line-height: 1.4;

//List
$list-padding: 10px;

//ListItem
$item-line-height: 20px;

//Switch
$switch-width: 42px;
$switch-height: 26px;

// Padding
$-padding: 1rem !default;

//Border Radius
$border-radius: 3px;

//Popup Padding
$popup-margin: 30px !default;
$popup-padding: 20px !default;

//Modal
$modal-z-index: 1022;
$modal-content-padding: 12px !default;
$modal-header-height: 50px;
$modal-icon-size: 16px !default;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px) !default;

//Box
$box-margin: 10px;

