$primary: #f27a1a;
$black: #333333;
$dark-grey: #666666;
$light-grey: #999999;
$dark-grey-two: #d2d2d2;

$red: #b30808;
$green: #0bc15c;
$white: #f8f8f8;
$white-two: #ffffff;
$marigold: #ffc000;
$very-light-pink:#e9e9e9;
$space-small:5px;
$space-medium:10px;
$space-large:15px;
$space-xlarge:20px;
$bold:600;
$regular:400;
$line-height-medium: 18px;
$grid-breakpoints: ( xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px) !default;