@mixin bottom-sheet-animation($duration: 300ms) {
  .q-slideInDown {
    &.q-bottom-sheet-enter {
      .q-bottom-sheet-main {
        transform: translateY(100vh);
      }
    }

    &.q-bottom-sheet-enter-active {
      .q-bottom-sheet-main {
        //transform: translateY(100%);
        //transition: transform $duration;
        transition: transform 0.5s linear;
        //transition-timing-function: ease-out;
      }
    }

    &.q-bottom-sheet-exit {
      .q-bottom-sheet-main {
        transform: translateY(0);
      }
    }

    &.q-bottom-sheet-exit-active {
      .q-bottom-sheet-main {
        transform: translateY(100%);
        transition: transform $duration;
        transition-timing-function: ease-out;
      }
    }
  }
}


