@mixin modal-animation($duration: 300ms) {
  .slideInRight{
    transition: transform $duration;

    &.modal-enter {
      transform: translateX(100vw);
    }
    &.modal-enter-active {
      transform: translateX(0);
    }
    &.modal-exit {
      transform: translateX(0);
    }
    &.modal-exit-active {
      transform: translateX(100vw);
    }
  }

  .slideInLeft{
    transition: transform $duration;
    &.modal-enter {
      transform: translateX(-100vw);
    }
    &.modal-enter-active {
      transform: translateX(0);
    }
    &.modal-exit {
      transform: translateX(0);
    }
    &.modal-exit-active {
      transform: translateX(-100vw);
    }
  }

  .slideInDown {
    transition: transform $duration;
    &.modal-enter {
      transform: translateY(100vh);
    }
    &.modal-enter-active {
      transform: translateY(0);
    }
    &.modal-exit {
      transform: translateY(0);
    }
    &.modal-exit-active {
      transform: translateY(100vh);
    }
  }

  .slideInUp{
    transition: transform $duration;
    &.modal-enter {
      transform: translateY(-100vh);
    }
    &.modal-enter-active {
      transform: translateY(0);
    }
    &.modal-exit {
      transform: translateY(0);
    }
    &.modal-exit-active {
      transform: translateY(-100vh);
    }
  }
}


