@import '../variables';

@mixin primary {
  background-color: $primary;
  color: $white;
  border: 1px solid $primary;
  i:before {
    color: $white;
  }
}

@mixin secondary {
  background-color: $white;
  color: $primary;
  border: 1px solid $primary;
}

@mixin gray {
  background-color: $white;
  color: $dark-gray;
  border: 1px solid $light-gray;
}


@mixin disabled {
  background-color: $disabled !important;
  opacity: 0.4 !important;
  color: $white !important;
  cursor: not-allowed !important;
  border: 0 !important;
}
