@import '../variables';

@mixin primary {
  background-color: $primary;
  color: $white-two;
  border: 1px solid $primary;
  i:before{
    color: $white-two;
  }
}

@mixin primary-outline {
  background-color: $white-two;
  color: $primary;
  border: 1px solid $primary;
}

@mixin secondary {
  background-color: $light-grey;
  color: $white-two;
  border: 1px solid $light-grey;
}

@mixin secondary-outline {
  background-color: $white-two;
  color: $dark-grey;
  border: 1px solid $light-grey;
}

@mixin success {
  background-color: $green;
  color: $white-two;
  border: 1px solid $green;
}

@mixin success-outline {
  background-color: $white-two;
  color: $green;
  border: 1px solid $green;
}

@mixin disabled {
  background-color: $dark-grey-two;
  opacity: 0.9;
  color: $white-two;
  cursor: not-allowed;
  border: 0;
}
